In [1]:
tup=tuple(['foo',[1,2],True])

In [2]:
print(tup[0]);print(tup[1]);print(tup[2]);

foo
[1, 2]
True

In [3]:
tup

('foo', [1, 2], True)

In [4]:
tup2='bar',[3,4,5],False

In [5]:
tup2

('bar', [3, 4, 5], False)

In [6]:
for i in tup2: print(i)

bar
[3, 4, 5]
False

In [7]:
tup2[1]=[3,4,5,6]

TypeError: 'tuple' object does not support item assignment

In [8]:
tup2[1].append(6)

In [9]:
tup2

('bar', [3, 4, 5, 6], False)

In [10]:
val_tup=1,2,2,2,3,3,5,4,6

In [11]:
val_tup

(1, 2, 2, 2, 3, 3, 5, 4, 6)

In [12]:
a,b,c,*_=val_tup;print(a);print(b);print(c);print(_); # _ is usually used for variable_to_be_discarded

1
2
2
[2, 3, 3, 5, 4, 6]

In [13]:
val_tup.count(2)

3

In [14]:
_.count(3)

2

In [15]:
gen=range(10);print(gen[2]);print(gen[5]);

2
5

In [16]:
gen_list=list(gen)

In [17]:
gen_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
gen

range(0, 10)

In [19]:
gen=range(10)

In [20]:
gen

range(0, 10)

In [21]:
gen[1]

1

In [22]:
gen_list[2]=10

In [23]:
gen_list

[0, 1, 10, 3, 4, 5, 6, 7, 8, 9]

In [24]:
[4,None,'bar']+[7,10,'abc',1234]

[4, None, 'bar', 7, 10, 'abc', 1234]

In [25]:
x=[4,None,'bar']

In [26]:
y=[7,10,'abc',1234]

In [27]:
z=x+y;print(z)

[4, None, 'bar', 7, 10, 'abc', 1234]

In [28]:
z2=x+[7,10,'abc',(3,4)]

In [29]:
z2

[4, None, 'bar', 7, 10, 'abc', (3, 4)]

In [30]:
z3=[4,None,'foo']+y

In [31]:
z3

[4, None, 'foo', 7, 10, 'abc', 1234]

In [32]:
x.extend([7,'123',456,(67,19)])

In [33]:
x

[4, None, 'bar', 7, '123', 456, (67, 19)]

In [34]:
b=['saw','small','He','foxes','six']

In [35]:
b.sort(key=len);b

['He', 'saw', 'six', 'small', 'foxes']

In [36]:
b.sort??

In [37]:
seq=[7,2,3,7,5,6,0,1]

In [38]:
print(seq[1:6].sort())

None

In [39]:
s2=seq[1:6].sort();s2

In [40]:
s2

In [41]:
print(s2)

None

In [42]:
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [43]:
seq[1:6]

[2, 3, 7, 5, 6]

In [44]:
s2=seq[1:6]

In [45]:
s2.sort()

In [46]:
s2

[2, 3, 5, 6, 7]

In [47]:
seq[1:6].sort()

In [48]:
print(s2.sort())

None

In [49]:
s3=seq[1:4].sort()

In [50]:
s3

In [51]:
print(s3)

None

In [52]:
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [53]:
s3=seq[1:-1:2];print(s3)

[2, 7, 6]

In [54]:
print(seq[1:6])

[2, 3, 7, 5, 6]

In [55]:
print(sorted(seq[1:6]))

[2, 3, 5, 6, 7]

In [56]:
b=['saw','small','He','foxes','six']

In [57]:
print(sorted(b))

['He', 'foxes', 'saw', 'six', 'small']

In [58]:
print(sorted(b,key=len))

['He', 'saw', 'six', 'small', 'foxes']

In [59]:
seq1=['foo','bar','tar'];seq2=['one','two','three']

In [60]:
zipped=list(zip(seq1,seq2))

In [61]:
zipped

[('foo', 'one'), ('bar', 'two'), ('tar', 'three')]

In [62]:
c1,c2=zip(zipped)

ValueError: too many values to unpack (expected 2)

In [63]:
c1,c2=zip(*zipped) #since zipped is a list and is iterable, *zipped makes python loop over object and use each element as a separate argument

In [64]:
c1

('foo', 'bar', 'tar')

In [65]:
c2

('one', 'two', 'three')

In [66]:
*zipped

SyntaxError: can't use starred expression here (<ipython-input-66-f26883ee2fdc>, line 1)

In [67]:
zipped

[('foo', 'one'), ('bar', 'two'), ('tar', 'three')]

In [68]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('tar', 'three')]

In [69]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1[7] = 'an integer'
d1
d1['b']
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [70]:
list(d1.keys())

['a', 'b', 7, 5, 'dummy']

In [71]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer', 'some value', 'another value']

In [72]:
dict?

In [73]:
words=['apple','bat','bar','banana','agony','atom','book','cigar'];by_letter={}

In [74]:
for word in words:
    letter=word[0]
    if letter in by_letter:
        by_letter[letter].append(word)
    else:
        by_letter[letter]=[word]

In [75]:
by_letter

{'a': ['apple', 'agony', 'atom'],
 'b': ['bat', 'bar', 'banana', 'book'],
 'c': ['cigar']}

In [76]:
by_letter2={}

In [77]:
for word in words:
    letter=word[0]
    by_letter2.setdefault(letter,[]).append(word)

In [78]:
by_letter2

{'a': ['apple', 'agony', 'atom'],
 'b': ['bat', 'bar', 'banana', 'book'],
 'c': ['cigar']}

In [79]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [80]:
lgt2 = [x.upper() for x in strings if len(x)>2]

In [81]:
lgt2

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [89]:
enumerate?

In [85]:
loc_mapping={val:index for index,val in enumerate(strings)} #enumerate creates a iterator for the index

In [86]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [90]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [92]:
result=[name for lang_names in all_data for name in lang_names if name.count('i')>0]

In [93]:
result

['Emily', 'Michael', 'Maria', 'Javier', 'Natalia', 'Pilar']

In [94]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [95]:
list(strings)

['foo', 'card', 'bar', 'aaaa', 'abab']

In [96]:
set(list(strings))

{'aaaa', 'abab', 'bar', 'card', 'foo'}

In [98]:
len(set(list(strings)))

5

In [99]:
set('aaaa')

{'a'}

In [100]:
strings

['foo', 'card', 'bar', 'aaaa', 'abab']

In [101]:
strings.sort()

In [102]:
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [103]:
strings.sort(key=len)

In [104]:
strings

['bar', 'foo', 'aaaa', 'abab', 'card']

In [105]:
strings.sort(key=lambda x:len(set(list(x))))

In [106]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [88]:
enumerate(strings)